header.header(ui-view='navbar')
.inner-wrapper
  aside#sidebar-left.sidebar-left(ui-view='sidebarLeft', ng-class='{ "hidden": !isLoggedIn() }')
  section.content-body(role='main')
    div(ui-view='header', ng-class='{ "hidden": !isLoggedIn() }')
    .row(ui-view='content')
aside#sidebar-right.sidebar-right(ui-view='sidebarRight', ng-class='{ "hidden": !isLoggedIn() }')
.page-footer(ui-view='footer')
