$navigation-link-color:                               rgba(255, 255, 255, .6);
$navigation-link-hover-color:                         rgba(255, 255, 255, 1);
$navigation-link-highlight-color:                     #fff;
$navigation-link-highlight-background-color:          rgba(0, 0, 0, .15);
$navigation-link-highlight-background-hover-color:    rgba(0, 0, 0, .3);
$navigation-spacer-color:                             rgba(255, 255, 255, .3);


.Navigation {

  &-link {
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 1.125em;

    &,
    &:active,
    &:visited {
      color: $navigation-link-color;
    }

    &:hover {
      color: $navigation-link-hover-color;
    }

    &-highlight {
      margin-right: 8px;
      margin-left: 8px;
      border-radius: 3px;
      background: $navigation-link-highlight-background-color;
      color: $navigation-link-highlight-color;
    }

    &-highlight:hover {
      background: $navigation-link-highlight-background-hover-color;
    }
  }

  &-spacer {
    color: $navigation-spacer-color;
  }

}
