.nano
  .nano-content
    a.mobile-close.visable-xs(href='#')
      | Collapse
      i.fa.fa-chevron-right
    
    .sidebar-right-wrapper
      .sidebar-widget.widget-calendar
        h6 Upcoming Tasks
        div(data-plugin-datepicker data-plugin-skin='dark')
        ul
          li
            time(datetime='2014-04-19T00:00+00:00') 04/19/2014
            span Company Metting
