$footer-container-width: 1000px;

$footer-color: #fff;
$footer-background-color: #ccc;


.Footer {

  background: $footer-background-color;
  color: $footer-color;

  &-container {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: $footer-container-width;
    text-align: center;
  }

  &-text {
    color: rgba(255, 255, 255, .5);

    &--muted {
      color: rgba(255, 255, 255, .3);
    }
  }

  &-spacer {
    color: rgba(255, 255, 255, .3);
  }

  &-text,
  &-link {
    padding: 2px 5px;
    font-size: 1em;
  }

  &-link {
    &,
    &:active,
    &:visited {
      color: rgba(255, 255, 255, .6);
      text-decoration: none;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
